.stackcard-container{
    display: flex;
    box-sizing: border-box;
    padding: 15px 35px;
    gap: 3rem;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 8px 14px -5px rgba(0,0,0,0.2);
}

#stackcard-stack_img{
    height: 5rem;
}

#stackcard-stackname{
    font-size: 3rem;
    font-weight: 500;
}